a,
button {
  touch-action: manipulation;
  background-color: transparent;
}

body {
  background-color: #eae3d8;
  color: #372c43;
  font-family: 'PT Sans';
}

/* BEST PRACTICES: optimal length for a paragraph */
p {
  max-width: clamp(52ch, 64%, 75ch);
}
