/* HIDE SCROLLBARS */
html,
body {
  /*FireFo*/
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
  -webkit-appearance: none;
}

a,
button {
  touch-action: manipulation;
  background-color: transparent;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #eae3d8;
  color: #372c43;
  font-family: 'PT Sans';
}

/*
  BEST PRACTICES: optimal length for a paragraph
  (and also <li> for Sanity PortableText import)
*/
p {
  max-width: clamp(52ch, 64ch, 75ch);
}
